package templates

templ Base(title string) {
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>{title}</title>
		<link rel="icon" type="image/x-icon" href="/static/images/CalorificFire.png">
	</head>
	<body class={MainBody}>
		{ children...}
	</body>
	</html>
}