package templates

import (
	"strconv"
)

templ DateBox(day string, sum int, targetStr string) {
	{{target, err := strconv.Atoi(targetStr)
	  if err != nil {
	  	panic(err)
	  }}}

	<div class={OuterBox}>
		<div class={Col}>
			<div class={InnerBox}>
				<span class={DateText}>{day}</span>
			</div>
			@MetGoal(sum, target)
		</div>
	</div>
}
