package templates

css Btn() {
	background-color: #6473ed;
	color: #FFF;
	font-family: Helvetica, sans-serif;

	border: 2px solid black;
	border-radius: 8px;
	padding: 16px;
}

templ DefButton(text string) {
	<button class={Btn}>
		{text}
	</button>
}